*Etapa[[:space:]]1[[:space:]]-Exploratorio/mitbih_train.csv filter=lfs diff=lfs merge=lfs -text
Etapa[[:space:]]1[[:space:]]-[[:space:]]Exploratorio/mitbih_train.csv filter=lfs diff=lfs merge=lfs -text
ECG[[:space:]]Classificator/data/mitbih_train.csv filter=lfs diff=lfs merge=lfs -text
